.container-fluid {
    font-family: 'Oswald', sans-serif;
    color: #2d3c49;
    padding-right: 0;
    padding-left: 0;
    max-width: 1200px;
    margin: 0 auto;

}
.row {
    margin: 0;
}

#main, .page-header-wrapper,
.bottom-hr-line {
    /*max-width: 55em;*/
    /*margin: 0 auto;*/
}

h1, h2, h3, h4 {
    text-transform: uppercase;
    letter-spacing: 0.6px;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
}

/* === HEADER === */

.page-header-wrapper {
    height: 40vh;
    /*min-height: 275px;*/
    background: #000000;
    background-image: url("../images/sakelari4_opt.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    /*background-size: 772px 276px;*/
    /*text-align: left;*/
}

#banner-area {
    padding: 35px 20px 0 0;
    float: right;
    margin: 0 auto;
    /*text-transform: uppercase;*/
    /*letter-spacing: 0.2px;*/

}

#banner-area > * {
    margin: auto;
    color: white;
}

h1 {
    font-size: calc(.7rem + 3vw);
}

h2 {
    font-size: calc(.7rem + 2vw);
    padding-top: 1%;
    /*text-shadow: 1px 1px 1px #FFFDE8;*/
    text-align: right;
    /*margin: auto;*/
    text-transform: lowercase;
}
/*#banner-area {*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*!*align-items: center;*!*/
/*}*/
/*.innerCol {*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;     !* Align the flex-items vertically *!*/
    /*justify-content: center; !* Optional, to align inner flex-items*/
                              /*horizontally within the column  *!*/
/*}*/

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.main-section-img {

}

/*.header {*/
    /*margin-top: 1.2%;*/
/*}*/

.header-picture-wrap {
    padding-top: 0.9%;
}

.img-logo {
    max-height: 38px;
    padding-bottom: 5%;
}




/* === MAIN SECTION === */


#main-header {
    /*font-size: 25px;*/
    font-size: calc(.7rem + 1.8vw);

    padding-top: 2%;
    padding-bottom: 1%;
    margin: 0 auto;
    text-align: center;
    /*text-transform: uppercase;*/
    /*color: #7d97ad;*/
}

#main-header-bar {
    margin: 0 auto;

    /*margin: 2% 45% 5% 45%;*/
    /*width: calc(.7rem + 9vw);*/
    width: 10%;
    /*width: calc(.7rem + 9vw);*/
    height: calc(.1rem + .1vw);
    background: #2d3c49;
}


article {
    position: relative;
    margin: 15px 0 40px 0;
    display: flex;
    flex-flow: row wrap;
    border: 1px groove rgba(0, 0, 0, 0.2);
    padding: 1em 1em 2em 1em;
}

article > * {
    /*flex-basis: 100%;*/
    flex: 1 100%;
}

.article-title {
    flex: none;
    position: absolute;
    top: calc((.7rem + .8vw)*-0.5 - 2px);
    right: 1em;
    margin: 0;
    /*top: calc((.7rem + .8vw)*-1.5);*/
    color: #ee164e;
    /*margin: calc((.7rem + .8vw)*-1.5) 0 0 auto;*/
    padding: 0 .5em;
    background: #fff;
    /*font-size: 1em;*/
    font-weight: normal;
    font-size: calc(.7rem + .8vw);
}

.article-img-holder {
    /*flex: 1 100%;*/
    /*height: 50%;*/
    display: flex;
    align-content: center;

}

.article-img {
    /*display: flex;*/
    /*width: 100%;*/
    /*object-fit: cover;*/
    /*width: calc(95.0vw - 20px);*/
    /*height: calc(95.0vw - 10px);*/
    /*height: 80%;*/
    align-self: center;
}

.article-text {
    font-family: Lato;
    font-size: calc(.7rem + .9vw);
    font-weight: 300;
    line-height: 1.8em;

}

.article-text p:first-of-type {
    font-style: italic;
}

.article-bttns {
    position: absolute;
    bottom: calc((.7rem + .8vw)*-1.2);
    flex: none;
    color: #ee164e;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    /*margin: 0 auto;*/
    padding: 5px;
    /*padding: 0 .5em;*/
    background: #fff;
    /*font-size: 1em;*/
    font-weight: normal;
}

#gallery {
    /*margin: 0;*/
    padding: 15px;
}

.gallery-card-holder {
    padding: 0;
    text-align: center;
    min-width: 230px;
    margin: 0 15px 40px 0;
}

.gallery-card-holder:last-of-type {
    margin-right: 0;
}

.gallery-img-holder {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    margin: 0 0 15px 0;
}

.gallery-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-right: 1px solid #a09e9e;
    border-bottom: 1px solid #a09e9e;
    background-color: #fcfcfc;
    padding: 4px;
}

.gallery-img-caption {
    /*font-size: 2rem;*/
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
}

.gallery-text {
    margin-top: 5px;
}

.btn {
    color: #2d3c49;
    border-radius: 0;
    border: 1px solid #ee164e;
    /*margin: 5px;*/
    display: inline-block;
    padding: 6px 12px;
    /*margin-bottom: 0;*/
    font-size: calc(.7rem + .8vw);

    /*font-size: 14px;*/
    /*font-weight: 400;*/
    /*line-height: 1.42857143;*/
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: linear-gradient(#ee164e, #ee164e);
    background-repeat: no-repeat;
    transition: background-size .5s, color .5s;
    /* Fill to right */
    background-position: 0 50%;
    background-size: 0 100%;

}


.btn:hover {
    background-size: 100% 100%;
    color: #fff;
}

.btn-play {
    margin-right: 5px;
}

.btn-link {
    margin-left: 5px;
}

.gallery-bar {
    margin: 3% 45% 3% 45%;
    width: 10%;
    height: 3px;
    background: #000000;
    /*height: 3px;*/
    /*width: 25%;*/
    /*background: #04C2C9;*/
    /*margin: 10px 0px;*/
}



 /* === FOOTER === */

footer {
    /*display: flex;*/
    /*flex-direction: row;*/
    height: 10vw;
    font-size: 0.9rem;
    margin-bottom: 1.2%;
    background: #000000;
}

footer p {
    margin: auto;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    height: 100%;
    list-style-type: none;
    color: white;
    padding: 0;
}

ul li {
    align-self: center;
    color: white;
    letter-spacing: 0.6px;


    /*display: inline-block;*/
}

ul a {
    color: white;
    font-size: calc(.7rem + .8vw);
    transition: color 0.3s linear;
    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
}

ul a:hover {
    color: #ee164e;
    /*transform: translate3d(0px, 0%, 0px);*/
    /*transition: background-size .5s, color .5s;*/
}

/* === HORIZONTAL LINES === */

/*.top-hr-line {*/
    /*border: 1px solid #7d97ad;*/
    /*min-height: 0;*/
    /*margin: 2% 0 2% 0;*/
/*}*/

.bottom-hr-line hr:only-child {
    border: 1px solid #2d3c49;
    min-height: 0;
    margin: 2% 0 0.5% 0;
}


/* === MEDIA QUERIES === */

@media screen and (min-width: 600px) {
    /*article { flex: 2 0px; }*/
    /*.article-test {*/
        /*flex: 1 0px;*/
        /*order: 3;*/
    /*}*/
    article {
        flex-wrap: nowrap;
        padding: 1em;
    }

    .article-img-holder {
        width: 30%;
        flex: 1 auto;
        order: 1;
    }

    .article-text {
        margin-left: 5%;
        width: 70%;
        flex: 2 auto;
        order: 2;
    }

    .article-bttns {
        left: calc(50% - 84px);
    }
    .page-header-wrapper {
        background-image: url("../images/sakelari4_opt.jpg");
    }

    h1 {
        /*font-size: 30px;*/
    }

    h3 {
        /*font-size: 20px;*/
    }
}

@media screen and (min-width: 768px) {
    h1 {
        /*font-size: 4rem;*/
    }

    h3 {
        /*font-size: 1.4rem;*/
    }

    /*.img-logo {*/
        /*max-height: 55px;*/
        /*padding-bottom: 3%;*/
    /*}*/

    /*.main-section-img {*/
        /*max-height: 300px;*/
    /*}*/

    .gallery-card-holder {
        width: calc((100% - 30px)/3);
    }

    .header {
        /*font-size: 3rem;*/
        /*text-align: center;*/
        /*padding-left: 25px;*/
    }

    .gallery-img {
        /*height: 220px;*/
    }

    .article-bttns {
        /*right: 15em;*/

    }

    footer {
        /*font-size: 1.1rem;*/
    }

    .top-hr-line, .bottom-hr-line {
        border-width: 2px;
    }
}

@media screen and (min-width: 992px) {
    h1 {
        /*font-size: 4.5rem;*/
    }

    h3 {
        /*font-size: 1.6rem;*/
    }

    .img-logo {
        max-height: 60px;
        padding-bottom: 2%;
    }

    .gallery-img-caption {
        /*font-size: 2.2rem;*/
    }

    .gallery-img {
        /*height: 300px;*/
    }
}

@media screen and (min-width: 1200px) {
    .img-logo {
        padding-bottom: 1%;
    }

    .main-section-img {
        max-height: 400px;
        min-width: 100%;
        object-fit: cover;
    }

    .gallery-img {
        /*height: 450px;*/
    }

    .gallery-img-caption {
        /*font-size: 3rem;*/
    }

    footer {
        /*font-size: 1.3rem;*/
    }
}

@media print and (orientation: portrait) {
    .gallery-card-holder {
        width: 100%;
    }

}


@media print and (orientation: landscape) {
    html, body {
        height: 100%;
    }

    h1 {
        /*font-size: 4.5rem;*/
    }

    h3 {
        /*font-size: 1.6rem;*/
    }

    main + .row, footer  {
        display: none;
    }

    .img-logo {
        max-height: 60px;
        padding-bottom: 2%;
    }
    .main-section-img {
        max-height: 400px;
        min-width: 100%;
        object-fit: cover;
    }

    .gallery-card-holder {
        width: 33.33333333%;
    }

}
